.maps {
    width: 100%;
    height: 100%;
}

.maps_and_inf {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    background-color: #b1cbe4;
}

.inform {
    width: 50%;
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: #0bba3f;
    border-radius: 12px;
    padding: 20px 0 0 10px;
}

.inform_img {
    width: 80px;
    height: 80px;
}

.inform_icon1,
.inform_icon2,
.inform_icon3 {
    display: flex;
}

.inform_icon_text {
    text-align: center;
    font-weight: bold;
    width: 50%;
    color: white;
    display: flex;
    justify-content: center;
}

.inform_icon_text span {
    font-size: 15px;
    text-align: center;
    padding-top: 12px; 
}

.inform_icon_text3 {
    text-align: center;
    font-weight: bold;
    width: 80%;
    color: white;
    display: flex;
    justify-content: center;
}

.inform_icon_text1 {
    text-align: center;
    font-weight: bold;
    width: 80%;
    color: white;
}

.maps {
    width: 100%;
    display: flex;
    position: relative;
}

.maps_mult {
    /* position: absolute;
    right: 50%;
    left: 50%;
    top: 0; */
    position: absolute;
    right: 59%;
    left: 41%;
    top: 0;
}

.maps_mult_a {
    width: 210px;
    height: 105px;
}

.maps_mult_a img {
    width: 100%;
    height: 100%;
}

.maps_this {
    width: 100%;
    padding: 50px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
}

.span_text {
    font-size: 15px;
    text-align: center;
    padding-top: 12px;
}