.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header_img {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  border: none;
}

.header_img img {
  width: 100%;
  height: 70px;
  border: none;
}

.logotype {
  position: absolute;
  left: 650px;
  width: 90px;
}

.header_text {
  width: 50%;
  height: 70px;
  background-color: #00c024;
  display: flex;
}

.link {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.butt {
  width: 20%;
  position: relative;
}

.butt img {
  width: 60px;
  height: 60px;
}

.text {
  font-size: 23px;
  color: white;
  text-decoration: none;
}

.exitBtn3 {
  width: 100px;
  height: 50px;
  text-align: center;
  display: block;
  font-family: arial;
  text-decoration: none;
  font-weight: 300;
  font-size: 13px;
  /* border: #1071FF 0.5px solid; */
  border: none;
  color: #93d18f;
  background: #18a93a;
  padding: 3px;
  margin: 10px auto;
  transition: .5s;
  border-radius: 0 25px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  margin-left: 5px;
}

.exitBtn3:hover {
  width: 100px;
  height: 50px;
  text-align: center;
  display: block;
  font-family: arial;
  text-decoration: none;
  font-weight: 300;
  font-size: 13px;
  /* border: #1071FF 0.5px solid; */
  border: 3px solid #18a93a;
  color: white;
  background: #45bd3d;
  padding: 3px;
  margin: 10px auto;
  transition: .5s;
  border-radius: 0 25px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  margin-left: 5px;
}


.exitBtn {
  width: 100px;
  height: 50px;
  text-align: center;
  display: block;
  font-family: arial;
  text-decoration: none;
  font-weight: 300;
  font-size: 13px;
  /* border: #1071FF 0.5px solid; */
  border: none;
  color: #93d18f;
  background: #18a93a;
  padding: 3px;
  margin: 10px auto;
  transition: .5s;
  border-radius: 0 25px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  margin-left: 5px;
}

.exitBtn:hover {
  width: 100px;
  height: 50px;
  text-align: center;
  display: block;
  font-family: arial;
  text-decoration: none;
  font-weight: 300;
  font-size: 13px;
  /* border: #1071FF 0.5px solid; */
  border: 3px solid #18a93a;
  color: white;
  background: #45bd3d;
  padding: 3px;
  margin: 10px auto;
  transition: .5s;
  border-radius: 0 25px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  margin-left: 5px;
}

.exitBtn2 {
  width: 100px;
  height: 50px;
  text-align: center;
  display: block;
  font-family: arial;
  text-decoration: none;
  font-weight: 300;
  font-size: 13px;
  /* border: #1071FF 0.5px solid; */
  border: none;
  color: #93d18f;
  background: #18a93a;
  padding: 3px;
  margin: 10px auto;
  transition: .5s;
  border-radius: 0 25px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  margin-left: 5px;
}

.exitBtn2:hover {
  width: 100px;
  height: 50px;
  text-align: center;
  display: block;
  font-family: arial;
  text-decoration: none;
  font-weight: 300;
  font-size: 13px;
  /* border: #1071FF 0.5px solid; */
  border: none;
  color: white;
  background: #45bd3d;
  border: 3px solid #18a93a;
  padding: 3px;
  margin: 10px auto;
  transition: .5s;
  border-radius: 0 25px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  margin-left: 5px;

}

/* .exitBtn:hover {
  top: 5px;
  transition: .5s;
  color: #0bba3f;
  border: #10FF58 1px solid;
  border-radius: 10px;
} */

/* .exitBtn:active {
  color: #000;
  border: #1A1A1A 1px solid;
  transition: .07s;
  background-color: #FFF;
} */

.line {
  text-decoration: none;
}

.btns {
  padding-left: 30px;
  display: flex;
  width: 250px;
}
.butt {
  display: flex;
  justify-content: center;
}
.butt button {
  background-color: #00c024;
  border: none;
  cursor: pointer;
  /* margin-right: 50px; */
  /* justify-content: flex-end;
  margin-left: 95px; */
}
.text:hover {
  transform: scale(1.10);
}
.text:active {
  color:rgba(7, 111, 115, 0.841);
  transform: scale(1.10);
}